
div {
    margin: 1em;
    padding-left: 10px;
}

#cep {
    margin-left: 55px;
}

#bairro {
    margin-left: 40px;
}

#localidade {
    margin-left: 32px;
}

#uf {
    margin-left:62px;
}
#btnConsultar{
    margin-left:85px;
}